<div class="text-right"><a href="javascript:void(0)" (click)="closePopup()" >X</a></div>
  <h3 class="text-center">{{ pageTitle }}</h3>
<div class="card-body mt-3 mb-5">
  <form [formGroup]="addCategory" (ngSubmit)="saveCategory()">
    <div class="form-group">
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Category Name" [formControl]="categoryName">
            <mat-error *ngIf="categoryName.hasError('required')">
              Category name is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Category Description" [formControl]="categoryDes">
            <mat-error *ngIf="categoryDes.hasError('required')">
              Category Description is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </div>
    <div class="form-group">
      <p>Category Image</p>
      <input type="file" (change)="uploadImage($event)" placeholder="Category Image"  [formControl]="categoryImg">
  </div>
    <div class="buttons" style="padding-left: 5px;">
      <button class="btn btn-icon icon-left btn-primary">{{buttonText}}</button>
    </div>
  </form>
</div>

