<div class="section-body">
  <div class="row mt-sm-4">
    <div class="col-12 col-md-12 col-lg-4">
      <div class="row mt-sm-4 background-image-body">
        <div class="row author-box" style="align-items: center; margin-left: 30%;">
          <img alt="image" src="assets/img/users/user-6.png" class="rounded-circle author-box-picture box-center mt-4">
        </div>
        <!-- <div class="card">
          <div class="card-header">
            <h4>Skills</h4>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
            <li class="media">
              <div class="media-body">
                <div class="media-title">Java</div>
              </div>
              <div class="media-progressbar p-t-5">
                <div class="progress" data-height="15">
                  <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" data-width="70%">70%</div>
                </div>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <div class="media-title">Web Design</div>
              </div>
              <div class="media-progressbar p-t-5">
                <div class="progress" data-height="15">
                  <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" data-width="80%">80%</div>
                </div>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <div class="media-title">Photoshop</div>
              </div>
              <div class="media-progressbar p-t-5">
                <div class="progress" data-height="15">
                  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" data-width="48%">48%</div>
                </div>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <div class="media-title">Python</div>
              </div>
              <div class="media-progressbar p-t-5">
                <div class="progress" data-height="15">
                  <div class="progress-bar bg-red progress-bar-striped progress-bar-animated" data-width="60%">60%</div>
                </div>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <div class="media-title">laravel</div>
              </div>
              <div class="media-progressbar p-t-5">
                <div class="progress" data-height="15">
                  <div class="progress-bar bg-blue progress-bar-striped progress-bar-animated" data-width="30%">30%</div>
                </div>
              </div>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <div class="card">
        <div class="padding-20">
          <ul class="nav nav-pills mb-1" id="myTab2" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab"
                aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#settings" role="tab"
                aria-selected="false">Edit Profile</a>
            </li>
          </ul>
          <div class="tab-content tab-bordered" id="myTab3Content">
            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
              <div class="row">
                <div class="col-md-3 col-6 b-r">
                  <strong>Full Name</strong>
                  <br>
                  <p class="text-muted">Alexa Lopez</p>
                </div>
                <div class="col-md-3 col-6 b-r">
                  <strong>Mobile</strong>
                  <br>
                  <p class="text-muted">(0123) 456 7890</p>
                </div>
                <div class="col-md-3 col-6 b-r">
                  <strong>Email</strong>
                  <br>
                  <p class="text-muted">jessica@example.com</p>
                </div>
                <div class="col-md-3 col-6">
                  <strong>Location</strong>
                  <br>
                  <p class="text-muted">India</p>
                </div>
              </div>
              <p class="m-t-30">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s,
                when
                an unknown printer took a galley of type and scrambled it to make a
                type
                specimen book. It has survived not only five centuries, but also the
                leap
                into electronic typesetting, remaining essentially unchanged.</p>
              <div class="section-title">Education</div>
              <ul>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.
                </li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.
                </li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.
                </li>
              </ul>
              <div class="section-title">Experience</div>
              <ul>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.
                </li>
               <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.
                </li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.
                </li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.
                </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
              <form method="post" class="needs-validation">
                <div class="card-header">
                  <h4>Edit Profile</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-6 col-12">
                      <label>First Name</label>
                      <input type="text" class="form-control" value="Jessica">
                      <div class="invalid-feedback">
                        Please fill in the first name
                      </div>
                    </div>
                    <div class="form-group col-md-6 col-12">
                      <label>Last Name</label>
                      <input type="text" class="form-control" value="Hill">
                      <div class="invalid-feedback">
                        Please fill in the last name
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-7 col-12">
                      <label>Email</label>
                      <input type="email" class="form-control" value="jessica@example.com">
                      <div class="invalid-feedback">
                        Please fill in the email
                      </div>
                    </div>
                    <div class="form-group col-md-5 col-12">
                      <label>Phone</label>
                      <input type="tel" class="form-control" value="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-12">
                      <label>Bio</label>
                      <textarea
                        class="form-control summernote-simple">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias minus quod dignissimos.</textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group mb-0 col-12">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="remember" class="custom-control-input" id="newsletter">
                        <label class="custom-control-label" for="newsletter">Subscribe to newsletter</label>
                        <div class="text-muted form-text">
                          You will get new information about products, offers and promotions
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button class="btn btn-primary">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
